fastapi[standard]==0.115.0
pydantic[email]==2.9.2
pydantic-settings==2.5.2
firebase-admin==6.5.0
python-multipart==0.0.12
python-dotenv==1.0.1
uvicorn==0.31.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
Pillow==10.3.0
sqlalchemy==2.0.35

